/* elements-section */
.elements-section {
  h2 {
    text-transform: uppercase;
    color: $dark-text;
    font-size: 14px;
    font-weight: normal;
  }

  .elements-list {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;

    li {
      margin-bottom: 5px;

      a {
        display: block;
        border: 1px solid $border-color;
        border-radius: 4px;
        padding: 5px 10px;
        background-color: #dadada;
        color: $dark-text;
        transition: all $animation-time linear;

        &:hover {
          background: #f2f2f2;
          text-decoration: none;
        }
      }
    }
  }
}
