$border-color: #dadada !default;
$border-color-dark: #4a4a4a !default;

$dark-text: #4a4a4a !default;
$btn-bg: darkgray !default;

$animation-time: 300ms !default;;
$top-bar-height: 60px !default;;
$settings-block-row-height: 30px !default;;
$settings-block-padding: 15px !default;;
